* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #216477;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.blockTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
}

.rules{
    background-color: rgba(255, 255, 255, 0.547);
    border-radius: 20px;
    padding: 15px;
    margin-top: 25px;
}

.rules ul{
    list-style: none;
    font-family: Jost;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 11px;
}

.rules ul li{
    margin-bottom: 3px;
    margin-top: 3px;
}

h1{
    text-align: center;
    color: orange;
    font-family: Jost;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#number{
    font-size: 60px;
    font-weight: 800;
    font-family: Jost;
    color: black;
}

.counter{
    width: 320px;
    height: 440px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #267287;
    border-radius: 80px;

    position: relative;

}

.zero{
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 130px;
    height: 130px;

    margin-bottom: 20px;
}

.bottone1, .bottone2{
    background-color: orange;
    border:none;
    width:80px;
    height: 80px;
    font-size: 50px;
    font-weight: 800;
    font-family: Jost;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    border-radius: 50%;
    margin-bottom: 80px;
}

.reset{
    font-family: Jost;
    font-size: 20px;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 800;

    position: absolute;
    bottom: 50px;
}

.bottone1:hover, .bottone2:hover{
    background-color: rgba(225, 255, 0, 0.8);
}

.bottone1:active, .bottone2:active{
    background-color: rgba(255, 166, 0, 0.8);
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset:hover{
    background-color: rgba(255, 255, 255, 0.719);
}

.reset:active{
    background-color: white;
}

/*media queries*/

@media only screen and (min-width: 768px){

    .counter{
        margin-top: 30px;
        width: 670px;
        height: 400px;
        position: static;
    }

    .reset{
        width: 140px;
        height: 50px;
        font-weight: 800;
        margin-top: 0px;
        position: static;
    }


    .bottone1, .bottone2{
        width:140px;
        height: 140px;
        font-size: 50px;
        font-weight: 800;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 0;
        margin-bottom: 0;
    }

    h1{
        font-size: 27px;
        margin-bottom: 5px;
    }

    .rules ul{
        list-style: none;
        font-family: Jost;
        letter-spacing: 1px;
        font-size: 13px;
    }

    .rules{
        padding-left: 40px;
        padding-right: 40px;
    }

    .zero{
        width: 140px;
        height: 140px;
    }
    
}
    